<div class="card">
    <div class="counry-info">
        <img src="{{flags.svg}}" alt="flag of {{name.official}}" class="flag">
        <h1 class="name">{{name.official}}</h1>
        <ul class="info-list">
            <li class="info-item"><span>Capital:</span>{{capital}}</li>
            <li class="info-item"><span>Population:</span>{{population}}</li>
            <li class="info-item"><span>Languages:</span>{{languages}}</li>
        </ul>
    </div>
</div>